<h1>Listing Games</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Platform</th>
    <th></th>
  </tr>

<% @games.each do |game| %>
<% puts(game.id) %>
<% puts(game.title.name) %>
  <tr>
    <td><%= game.title.name %></td>
    <td><%= game.platform.name%>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
<br />
<%= link_to 'Main', home_index_path %>